/* global styling */
#navbar {
  background-color: #2d2d2d;
}

body {
  background-color: black;
  font-family: 'Asap', sans-serif;
}

a {
  color: white;
  text-decoration: none; /* removes underline */
}


/* home */
#home {
  height: 650px;
  background-image: url("../assets/images/main-background.jpg");
  background-size: cover;
}

#home-text {
  padding: 10rem;
  color: whitesmoke;
}

#home-header {
  font-size: 3rem;
}

#home-description {
  font-size: 1rem;
}


/* about */
#about-div {
  padding: 50px 0 50px;
}

#drums {
  cursor: pointer;
}

.about-content {
  margin: auto;  /* This verticly center aligns the content in the div */
}

.about-img {
  border-radius: 50%;
  width: 80%;
}

.about-text {
  color: white;
  font-size: medium;
  /* text-align: center; */
}


/* work */
.work-textbox {
  height: 100px;
  text-align: center;
}

.work-text {
  margin-top: 20px;
  color: white;
}

.work-content {
  height: auto;
  color: white;
  padding: 50px 0 50px;
  margin-bottom: 50px;
}


/* resume */
.resume-textbox {
  height: 50px;
  text-align: center;
}

.resume-text {
  margin-top: 10px;
}

.resume-content {
  display: none; /* remove this to display the element */
  height: 650px;
}


/* contact */
.contact-content {
  height: 100px;
  color: white;
}

.email-content {
  text-align: start;
  padding: 20px 0 0 60px;
}

.social-content {
  text-align: end;
  padding: 40px 60px 0 0;
}

/* Add padding around social icons */
.fa-github:before {
  content: "\f09b";
  margin: 15px;
}

/* test */