/* global styling */
body {
  background-color: black;
}


/* home page */
#home {
  height: 650px;
  background-image: url("../images/pexels-maurício-mascaro-376533.jpg");
  background-size: cover;
}

#home-text {
  padding: 10rem;
  color: whitesmoke;
}

#home-header {
  font-size: 3rem;
}

#home-description {
  font-size: 1rem;
}

/* about page */
#about-div {
  padding: 50px 0 50px;
}

.about-content {
  /* height: 550px; */
  /* background-color: grey; */
}

.about-img {
  /* background-size: cover; */
}

.about-text {
  color: white;
  font-size: medium;
}

/* work page */
.work-textbox {
  height: 100px;
  text-align: center;
  /* background-color: white; */
}

.work-text {
  margin-top: 20px;
  color: white;
}

.work-content {
  height: auto;
  color: white;
  padding: 50px 0 100px;
  /* background-color: whitesmoke; */
}

/* resume page */

.resume-textbox {
  height: 100px;
  text-align: center;
}

.resume-text {
  margin-top: 20px;
  color: white;
}

.resume-content {
  display: none; /* remove this to display the element */
  height: 650px;
}

/* contact section */

.contact-content {
  height: 100px;
  color: white;
}