#intro {
  background-image: url("../images/pexels-maurício-mascaro-376533.jpg");
  background-size: cover;
  height: 650px;
}

#intro-text {
  padding: 10rem;
  color: whitesmoke;
}

#intro-header {
  font-size: 3rem;
}

#intro-description {
  font-size: 1rem;
}
